* {
    margin: 0;
    padding: 0;
  }
  /* Estilização dos elementos gerais */
  /* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Instagram Profile container */
.instagram-profile {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Profile info container */
.profile-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Profile info section */
.profile-info {
  display: flex;
  align-items: center;
  max-width: 600px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-details {
  margin-left: 20px;
}
.profile-username{
  display:flex;
  width:50px;
 align-items: center;
}
.username{
  flex: 1;
}
.edit-profile{
  flex: 1;
}
.archive{
  flex: 1;
}
.post-followers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.followers{
  margin-right: 5px;
}
.following{
  margin-right: 10px;
}
/* Post grid section */
.post-grid {
  display: flex;
  flex-wrap: wrap;
}

.post-section {
  width: 33.33%;
  padding: 20px;
}

.post-section h4 {
  margin-bottom: 10px;
}

.post-images img {
  width: 33.33%;
  height: auto;
}

/* Bottom buttons container */
.bottom-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bottom-buttons-wrapper {
  border-top: 1px solid #ccc;
  width: 30%; /* adjust this value to your desired width */
  margin: 0 auto;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.bottom-button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
}

.bottom-button:hover {
  background-color: #f7f7f7;
}

.username-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username-buttons h2 {
  margin-right: 10px;
}

#posts-container, #saved-posts-container, #tagged-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px; /* Adjust width as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post img, .post video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}